<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #1 - Use a loop to display job results in a table. -->
    <table th:each="job : ${jobs}" class="job-listing">
        <tr>

            <td th:text="'ID: ' + ${job.id}"></td>
        </tr>
        <tr>
            <td th:text="'EMPLOYER: ' + ${job.employer}"></td>
        </tr>
        <tr>
            <td th:text="'LOCATION: ' + ${job.location}"></td>
        </tr>
        <tr>
            <td th:text="'POSITION TYPE: ' + ${job.positionType}"></td>
        </tr>

        <tr>
            <td th:text="'SKILL: ' + ${job.coreCompetency}"></td>
        </tr>
        </tr>

    </table>

</div>

</body>
</html>